<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqg.mapper.GradeMapper">

<!--    Sql server 可以使用
    <insert id="insertGrade"  parameterType="com.zqg.bean.Grade" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO grade (grade_name) VALUES('${gradeName}')
    </insert>
    -->

    <insert id="insertGrade" parameterType="grade" >
        <selectKey keyProperty="id" order="AFTER" resultType="int"  >
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO grade (gradename) VALUES(#{gradeName})
    </insert>






    <select id="selectGradeById" parameterType="int" resultType="Grade">

        select  * from grade where id = #{value}
    </select>



    <!-- resultMap  type 表示最终映射的java类名-->
    <resultMap id="gradeall" type="grade">
       <id column="id" property="id" ></id>
       <result column="gradename" property="gradeName"></result>
        <collection property="studentList"  ofType="student">
            <id column="id1" property="id"></id>
            <result column="stuname" property="stuName"></result>
            <result column="gradeid" property="gradeId"></result>
        </collection>
    </resultMap>

    <select id="selectGradeAll" resultMap="gradeall">
        select  * from grade join student
        where grade.id = student.gradeId
    </select>


    <select id="selectAllGrade" resultType="grade">
        select  * from grade
    </select>





</mapper>



